# ocr
keras-ocr~=0.9;python_version<"3.10"
tensorflow~=2.10;python_version<"3.10"
numpy~=1.23
matplotlib~=3.6

# xml
defusedxml~=0.7

# compatibility
importlib_resources~=5.10
importlib_metadata~=5.2
