# ocr
keras-ocr @ https://github.com/faustomorales/keras-ocr/archive/e8d34a46f07d50158e1d86d6c617e99bfe99e2f8.zip
tensorflow==2.9.0
numpy==2.2.1
matplotlib==3.6.0

# xml
defusedxml>=0.7.1

# compatibility
importlib-resources>=5.8.0
importlib-metadata>=6.0.0
typing-extensions==4.12.2
beartype==0.19.0
